#root {
  margin: 0 auto;
}

body {
  height: 100vh;
  margin: 0;
}

main {
  height: 100%;
}

#welcome h1{
  font-size: 80px;
  border-top: 2px solid red;
  border-left: 2px solid yellow;
  border-bottom: 2px solid blue;
}

